<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TorontoCheapEats.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D1FEAF121BB471D8000F0F12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1FEAF291BB471D9000F0F12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1FEAF341BB471D9000F0F12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
